<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="fullPageTitle">Bluewhale</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" href="<%= file %>"><% }); %>
    <% scripts.forEach( function ( file ) { %>
    <script src="<%= file %>"></script><% }); %>
    <script>
        window.session = {
            accessToken: "<?php echo $_COOKIE['MGAUTH']; ?>"
        };
    </script>
</head>

<body>
<div growl></div>
<ui-view></ui-view>
</body>
</html>