<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">重置密码</h4>
</div>
<div class="modal-body">
    <form name="form" class="form-horizontal padding-top-15" novalidate>
        <div class="form-group"
             ng-class="{'has-error': (form.$submitted || form.newPassword.$touched) && form.newPassword.$invalid}">
            <label class="col-sm-3 control-label">
                <span class="text-danger">*</span>
                新密码
            </label>

            <div class="col-sm-7">
                <input type="password"
                       name="newPassword"
                       class="form-control"
                       ng-model="vm.user.newPassword"
                       ng-change="form.cfmPassword.$validate()"
                       ng-required="true"
                       ng-minlength="6"
                       ng-maxlength="30">

                <div ng-if="form.$submitted || form.newPassword.$touched" ng-messages="form.newPassword.$error">
                    <span class="help-block" ng-message="required">密码不能为空</span>
                    <span class="help-block" ng-message="minlength">密码长度不能少于6位</span>
                    <span class="help-block" ng-message="maxlength">密码长度不能超过30位</span>
                </div>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': (form.$submitted || form.cfmPassword.$touched) && form.cfmPassword.$invalid}">
            <label class="col-sm-3 control-label">
                <span class="text-danger">*</span>
                确认新密码
            </label>

            <div class="col-sm-7">
                <input type="password"
                       name="cfmPassword"
                       class="form-control"
                       ng-model="vm.user.cfmPassword"
                       ng-required="true"
                       equal-to="vm.user.newPassword">

                <div ng-show="form.$submitted || form.cfmPassword.$touched"
                     ng-messages="form.cfmPassword.$error">
                    <span class="help-block" ng-message="required">确认密码不能为空</span>
                    <span class="help-block" ng-message="equalTo">两次密码输入不一致</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <span class="text-danger margin-right-10" ng-if="vm.submitError">{{vm.submitError}}</span>
    <button type="button" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="vm.submitting">确定</button>
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
</div>